<template data-template="project">
  <article data-project class="card">
    <h2 data-title></h2>
    <time data-created datetime=""></time>
    <footer class="grid grid_container">
      <a class="button" data-repo href="">Repo</a>
      <a class="button" data-demo href="">Demo</a>
    </footer>
  </article>
</template>