a.button {
  text-decoration: none;
}

.button:active,
.button:visited,
.button {
  background-color: var(--clr-background-button);
  color: var(--clr-foreground-button);
  padding: 0.75em 1.75em;
  border-radius: 0.25em;
  font-size: 1rem;
  display: inline-flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: max-content;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  align-items: center;
  justify-content: center;
}

.button:hover {
  background-color: var(--clr-background-button-hover);
  color: var(--clr-foreground-button);
}

span.icon {
  margin-left: 0.5em;
}

.static-width .button {
  max-width: 200px;
}