[data-hero] article {
  font-size: 1rem;
  max-width: 67ch;
  margin-top: 5rem;
  margin-right: auto;
  margin-left: auto;
  background-color: var(--clr-background-body);
  color: var(--clr-foreground-body);
  border-width: 0.125rem;
  border-style: solid;
  border-color: var(--clr-foreground-body);
  padding-bottom: 2.5rem;
  border-radius: 0.25rem;
  filter: drop-shadow(0.125rem 0.125rem 0.25rem rgba(0, 0, 0, 0.15));

  * {
    display: block;
    text-align: center;
    margin-right: auto;
    margin-left: auto;

    +* {
      padding-top: 1em;
    }
  }

  img {
    border-width: 0.125rem;
    border-style: solid;
    border-color: var(--clr-background-body);
    border-radius: 50%;
    width: 5rem;
    height: 5rem;
    transform: translateY(-50%);
  }

  [data-title] {
    padding-top: 0;
  }
}