html {
  /* Prevents font resizing on Internet Explorer */
  -ms-text-size-adjust: 100%;
  /* Prevents font resizing on Chrome and Safari */
  -webkit-text-size-adjust: 100%;
  height: 100%;
  /* Forces padding to be considered part of the width of an element */
  box-sizing: border-box;
}

html *,
html *:before,
html *:after {
  /* Allows box-sizing to be overridden by a specific element with less conflict in specificity */
  box-sizing: inherit;
}

body {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-feature-settings: "kern"1;
  font-size-adjust: none;
  font-variant: normal;
  font-kerning: none;
  font-variant-ligatures: none;
  font-style: normal;
  font-weight: normal;
  letter-spacing: normal;
  overflow-x: hidden;
}

body * {
  line-height: 1em;
}

@supports (scroll-behavior: smooth) {
  body {
    /* Progressive enhancement. Animates scroll to anchor without JavaScript */
    scroll-behavior: smooth;
  }
}

main,
section {
  /* To fix IE not understanding these "new" tags */
  display: block;
}

/* Normalise the typography settings across the site */
/* Style the highlight selection of web copy */
::selection {
  color: white;
  background: black;
}

/* Reset text elements */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  display: block;
  padding: 0;
  font-weight: normal;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
figcaption,
blockquote,
label,
legend {
  /* Creates a more comfortable "leading" on elements containing text */
  line-height: 1.5em;
}

p:not([class]),
li:not([class]) {
  max-width: 67ch;
}

p:not([class])+p:not([class]) {
  padding-top: 1.5em;
}

li:not([class])+li:not([class]) {
  padding-top: 0.75em;
}

cite {
  font-style: normal;
}

/* Superscript and Subscript alignment */
/* Fixes Chrome extending line-height to accomodate sub/sup text */
sup,
sub {
  vertical-align: baseline;
  position: relative;
  font-size: 0.75em;
}

sup {
  top: -0.4em;
}

sub {
  bottom: -0.4em;
}

/* Button reset */
button {
  -webkit-user-drag: none;
  user-select: none;
  zoom: 1;
  cursor: pointer;
}

a *,
button * {
  /* Makes any icons or alignment spans within a button or link "unclickable" so events are registered on the button element */
  pointer-events: none;
}

/* Visual disabled state on cursor hover */
[disabled],
.disabled {
  cursor: not-allowed;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
nav ul,
ul[class],
ol[class],
ul[data-slideshow],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove default styles on ul, ol elements with a class attribute */
ul[class],
ol[class],
ul[data-slideshow],
nav ul {
  list-style: none;
  padding: 0;
}

/* Anchor elements that don't have a class get default styles */
a:not([class]) {
  text-decoration: underline;
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  display: block;
  padding: 0;
  margin: 0;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  line-height: 1em;
}

/* Makes vector graphics easier to work with */
svg {
  width: 1em;
  height: 1em;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  fill: currentColor;
  line-height: 1em;
}

input,
button,
textarea,
select {
  /* Removes default browser styles from interactive elements */
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background: none;
  border: 0;
  border-radius: 0;
  padding: 0;
  box-sizing: border-box;
  /* Inherit fonts for inputs and buttons */
  font: inherit;
}

fieldset,
legend {
  display: block;
  padding: 0;
  margin: 0;
  border: none;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: inherit;
  opacity: 0.3;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: inherit;
  opacity: 0.3;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: inherit;
  opacity: 0.3;
}

input:not([type]),
input[type="checkbox"],
input[type="color"],
input[type="date"],
input[type="datetime-local"],
input[type="datetime"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="radio"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"],
textarea,
select {
  /* Kept as a list of input types */
}

*:focus {
  /* If you add outline: none; in here I'm calling the police! #YouWouldntStealTheirCursor */
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation-play-state: paused !important;
    transition: none !important;
    scroll-behavior: auto !important;
  }
}

/* Reduces the impact of the default scrollbar */
::-webkit-scrollbar-button {
  background-color: rgba(255, 255, 255, 0);
  color: rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-track {
  background-color: rgba(255, 255, 255, 0);
}

::-webkit-scrollbar-track-piece {
  background-color: rgba(255, 255, 255, 0);
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 500rem;
}

::-webkit-scrollbar-corner {
  border: 0.125rem solid rgba(0, 0, 0, 0.75);
}

dialog {
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
  background: none;
  border: none;
}

[hidden] {
  display: none !important;
}